<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bokeh includes-->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" type="text/css"/>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
</head>
<body>
<div>
    {% for plot in bokeh_plots %}
        {% for part in plot %}
            {{ part | safe }}
        {% endfor %}
    {% endfor %}
    {% for plot_id in mlt_plots %}
        <img src="/plot/{{ plot_id }}" alt="my plot">
    {% endfor %}

</div>
</body>
</html>