<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visual Programming</title>
    <script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-datepicker.standalone.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<style>
    #cy {
        height: 66%;
        position: absolute;
        top: 0px;
        left: 200px;
        right: 0px;
        text-color: '#ffffff';
        background: rgb(177, 255, 243);
        border: 3px solid #ffffff;

    }

    div.form {
        position: absolute;
        left: 205px;
        right: 5px;
        top: 68%;
    }

    div.showDF {
        position: absolute;
        left: 205px;
        right: 5px;
        top: 68%;
    }

    div.absolute {
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        height: 100px;
    }
</style>

<body>
<!--
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div> -->


<div class="sidenav">
    <button class="dropdown-btn">Hive Tables
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        {% for d in tables %}
            <a href="#" onclick="addDataSource('{{ d }}')">{{ d }}</a>
        {% endfor %}

    </div>
    <button class="dropdown-btn">SQL
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#" onclick="sqlSelect()">Select </a>
        <a href="#" onclick="sqlFilter()">Filter</a>
        <a href="#">Join</a>
    </div>
    <button class="dropdown-btn">Kafka Topics
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        {% for t in topics %}
            <a href="#" onclick="addStreamingDataSource('{{ t }}')">{{ t }}</a>
        {% endfor %}

    </div>
    <a href="#analysis">Data-Analysis</a>
    <a href="#table" onclick="showTable()">Show Table</a>
</div>


<div class="main">
    <div id="cy"></div>
    <div id="form" class="form"></div>
    <div id='showDF'></div>
</div>


<script>

    var nodes = {{ nodes| tojson }};
    var edges = {{ edges| tojson }};


    var count = 1;

    var cy = cytoscape({
        container: document.getElementById('cy'),

        style: cytoscape.stylesheet()
            .selector('node')
            .css({
                'label': "data(label)",
                'height': 80,
                'width': 80,
                'border-color': '#000',
                'border-width': 3,
                'border-opacity': 0.5,
                'background-color': '#ffffff',
                'text-color': '#ffffff',
                'text-wrap': 'wrap',
                'text-halign': 'center',
                'text-valign': 'center'
            })
            .selector(':selected').css({
                'overlay-color': 'blue',
                'overlay-opacity': 0.5,
                'overlay-padding': 5
            })
            .selector('edge')
            .css({
                'curve-style': 'bezier',
                'target-arrow-shape': 'triangle',
                'line-color': '#ffaaaa',
                'target-arrow-color': '#ffaaaa'
            }),
        boxSelectionEnabled: true
    });


    nodes.forEach(function (node, index) {
        cy.add([{group: 'nodes', data: node}]);
    });
    edges.forEach(function (edge, index) {
        cy.add([{group: 'edges', data: edge}]);
    });

    let layout = cy.layout({
        name: 'dagre',
        rankDir: "LR",
        directed: true,
        animate: true
    });
    layout.run();


    /**
     * ############################################### Utility functions#############################################*/
    function getSelectize(id) {

        let selectize = $(id)[0].selectize;

        let options = selectize.options;
        let items = selectize.items;
        let columns = $.map(items, function (value) {
            return options[value];
        });
        let selection = columns.map(x => x.label);
        return selection;
    }

    function removeElement(id) {
        document.getElementById(id).remove();
    }

    function removeFilter(id, inputIDs) {
        delete inputIDs[id];
        removeElement(id);
    }

    function visualizeResponse(response) {
        node = JSON.parse(response.node);
        edges = JSON.parse(response.edges);
        cy.add([{group: 'nodes', data: node}]);
        edges.forEach(function (edge, index) {
            cy.add([{group: 'edges', data: edge}]);
        });
        let layout = cy.layout({
            name: 'dagre',
            rankDir: "LR",
            directed: true,
            animate: true
        });
        layout.run();
    }

    function timestamp(str) {
        return new Date(str).getTime();
    }

    function formatDate(date) {
        let d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    /** ############################################### END Utility functions########################################*/


    /**
     * ########################################################################################################
     *              The following code contains functions used for defining data sources and sinks
     *              and data tranformations
     * ########################################################################################################
     */

    /**
     * This function is triggered by a click on a data source.
     * Given the id of the data source it generates a source for all following
     * operations.
     * @param id The name of Hive table
     */
    function addDataSource(id) {
        $.post("addDataSource", {id: id}, function (response, status) {
            visualizeResponse(response)
        });
    }

    /**
     * This function is triggered by a click on a streaming data source.
     * Given the id of the data source it generates a source for all following streaming
     * operations.
     * @param id The name of Kafka topic
     */
    function addStreamingDataSource(id) {
        $.post("addStreamingDataSource", {id: id}, function (response, status) {
            visualizeResponse(response)
        });
    }

    // ############################################# SQL-Functions ############################################
    function showTable() {
        let selected = cy.$(':selected').jsons();
        if (selected.length != 1) return;

        let id = selected[0].data.id;
        $.post("showTable", {id: id}, function (response, status) {
            columns = response;
            document.getElementById("form").innerHTML = response;

            $(document).ready(function () {
                $('#table').DataTable({
                      "scrollX": true,
                      "scrollY": true,
                });
            });
        });
    }

    /**
     *  This simulates projection. SQL-function: SELECT ... FROM table
     */
    function sqlSelect() {
        let selected = cy.$(':selected').jsons();
        if (selected.length != 1) return;

        let id = selected[0].data.id;

        const form = document.getElementById("form");
        while (form.firstChild) {
            form.removeChild(form.firstChild);
        }

        $.post("sqlSelect", {id: id}, function (response, status) {
            console.log("response:" + response);
            columns = response;
            //TODO: Exception handling

            // Selection box with description text for selecting columns
            var select = document.createElement("div");
            select.id = "selectize";
            let text1 = document.createElement("H2");
            text1.appendChild(document.createTextNode("Select columns for projection:"));
            document.getElementById("form").appendChild(text1);
            document.getElementById("form").appendChild(select);

            // Selection box with description text for renaming columns
            var rename = document.createElement("div");
            rename.id = "rename";
            let text2 = document.createElement("H2");
            text2.appendChild(document.createTextNode("(Optional) Rename selected columns:"));

            document.getElementById("form").appendChild(text2);
            document.getElementById("form").appendChild(rename);
            //new BstrapModal("Custom Titel", "BLABLA").Show();

            var options = [];
            columns.forEach(function (val, idx) {
                options.push({id: idx, label: val});
            });

            var selectizeInput = $('#selectize').selectize({
                maxItems: null,
                valueField: 'id',
                labelField: 'label',
                searchField: 'label',
                options: options,
                create: false
            });

            var n = columns.length;
            var renameInput = $('#rename').selectize({
                maxItems: null,
                valueField: 'id',
                labelField: 'label',
                searchField: 'label',
                options: options,
                create: function (val) {
                    columns.push(val);
                    return {id: n++, label: val};
                }
            });

            function sqlSelectResponse() {
                //$.post("sqlSelectResponse", {id: id}, function (response, status) {});
                var ids = selectizeInput[0].selectize.getValue();
                var labels = columns.filter(function (currentValue, index) {
                    return ids.includes(index);
                });
                ids = renameInput[0].selectize.getValue();

                var selectize = renameInput[0].selectize;
                var rename_objects = $.map(selectize.items, function (value) {
                    return selectize.options[value];
                });
                var rename = rename_objects.map(x => x.label);

                //TODO:  Send Response and change visualization of graph
                $.post("sqlSelectResponse", {
                    columns: JSON.stringify(labels),
                    rename: JSON.stringify(rename),
                    id: id
                }, function (response, status) {
                    visualizeResponse(response);

                });
            }

            var button = document.createElement("input");
            button.type = "button";
            button.name = "add";
            button.value = "Submit";
            button.className = "btn btn btn-primary";
            button.onclick = sqlSelectResponse;
            document.getElementById('form').appendChild(button);

        });

    }

    /**
     * This function is triggered by clicking on "Filter".
     * An UI is dynamically created for a filtering a selected Data Frame.
     */
    function sqlFilter() {
        let selected = cy.$(':selected').jsons();
        if (selected.length != 1) return;

        let id = selected[0].data.id;

        const form = document.getElementById("form");
        while (form.firstChild) {
            form.removeChild(form.firstChild);
        }

        $.post("sqlFilter", {id: id}, function (response, status) {

            var columns = Object.keys(response);
            var types = Object.values(response);

            //TODO: Exception handling
            // Selection box with description text for selecting
            var div = document.createElement("div");
            div.id = "filterUI";

            // create a selectize for selecting columns
            var filters = document.createElement("div");
            filters.id = "filtersSelection";

            filters.innerHTML = `<h1> Select columns to be filtered: </h1>
                                  <div class="input-group mb-3">
                                      <select class="custom-select" id='filter-columns'></select>
                                    <div class="btn-group" role="group">
                                      <select class="custom-select" id='filter-type'>
                                          <option selected>Predefined Filter</option>
                                          <option >Selectize</option>
                                          <option>Range Slider</option>
                                          <option>Date Slider</option>
                                      </select>
                                     <button id='addFilter' class="btn btn btn-primary" type="button">ADD</button>
                                    </div>
                                  </div>
                                 </div>`;
            div.appendChild(filters);
            document.getElementById("form").appendChild(div);

            // add options to select-input
            let selectList = document.getElementById("filter-columns");
            for (var i = 0; i < columns.length; i++) {
                var option = document.createElement("option");
                option.value = columns[i];
                option.text = columns[i];
                selectList.appendChild(option);
            }


            let inputIDs = {};

            /**
             *  Dynamically adds filter. The type of the filter
             *  depends on the corresponding data type.
             */
            function addFilter() {

                let filterID = "condition" + (++filterCount);
                // Get selected column to be filtered

                let columnSelection = document.getElementById("filter-columns");
                let column = columnSelection.options[columnSelection.selectedIndex].value;

                let filterTypeSelection = document.getElementById("filter-type");
                let filterType = filterTypeSelection.options[filterTypeSelection.selectedIndex].value;

                let div = document.createElement("div");
                div.id = filterID;

                let columnName = document.createElement("Label");
                columnName.innerHTML = column;
                div.style.cssText = "  padding: 2px;";
                div.appendChild(columnName);

                if (filterType === "Predefined Filter") {
                    let dataType = response[column];

                    // Ids for dynamically added UI-Elements
                    let conditionID = filterID + "-condition";
                    let optionsID = filterID + "-option";
                    let removeID = filterID + "-remove";

                    // create a text input if the data type is a string
                    if (dataType === "string") {
                        div.innerHTML = `<label> ${column} </label>
                                  <div class="input-group mb-3">
                                    <input id='${conditionID}' type="text" class="form-control" placeholder="Insert Filter Condition" aria-describedby="basic-addon2">
                                    <div class="btn-group" role="group">
                                      <select class="custom-select" id='${optionsID}'>
                                        <option value="RegEx">RegEx</option>
                                        <option value="Custom">Custom</option>
                                      </select>
                                     <button id='${removeID}' class="btn btn-danger" type="button">Remove</button>
                                    </div>
                                  </div>
                                 </div>`;
                        document.getElementById("filterUI").appendChild(div);
                        document.getElementById(removeID).addEventListener("click", function () {
                            removeFilter(filterID, inputIDs);
                        });

                        inputIDs[filterID] = {
                            column: column,
                            type: "string",
                            inputs: [conditionID, optionsID]
                        };
                    }
                    //TODO: improve check for datatype
                    if (["int", "bigint", "double"].includes(dataType)) {
                        let lowerLimitID = conditionID + "-lower";
                        let upperLimitID = conditionID + "-upper";
                        let lowerOptionsID = optionsID + "-lower";
                        let upperOptionsID = optionsID + "-upper";

                        div.innerHTML = `<label> ${column} </label>
                                  <div class="input-group">
                                    <div class="btn-group" role="group">
                                      <select class="custom-select" id='${lowerOptionsID}'>
                                        <option value="[">[</option>
                                        <option value="(">(</option>
                                      </select>
                                     <input id='${lowerLimitID}' type="number" class="form-control" placeholder="-&#8734" aria-describedby="basic-addon2">
                                     <span class="input-group-text">,</span>
                                     <input id='${upperLimitID}' type="number" class="form-control" placeholder="&#8734" aria-describedby="basic-addon2">
                                      <select class="custom-select" id='${upperOptionsID}'>
                                        <option value="]">]</option>
                                        <option value=")">)</option>
                                      </select>
                                    </div>
                                     <button id='${removeID}' class="btn btn-danger" type="button">Remove</button>
                                  </div>
                                 </div>`;
                        document.getElementById("filterUI").appendChild(div);
                        document.getElementById(removeID).addEventListener("click", function () {
                            removeFilter(filterID, inputIDs);
                        });

                        inputIDs[filterID] = {
                            column: column,
                            type: "numerical",
                            inputs: [lowerLimitID, upperLimitID, lowerOptionsID, upperOptionsID]
                        };
                    }
                }
                if (filterType === "Selectize") {


                    let conditionID = filterID + "-condition";
                    let removeID = filterID + "-remove";

                    let dataType = response[column];
                    let div = document.createElement("div");
                    div.id = filterID;


                    $.post("sqlGetUnique", {
                        id: id, column: column
                    }, function (response, status) {
                        var filterSelection = response;

                        div.innerHTML = `<label> ${column} </label>
                                         <div class="input-group">
                                            <div id="${conditionID}" style="width:90%;"></div>
                                            <button id='${removeID}' class="btn btn-danger" type="button">Remove</button>
                                          </div>`;

                        document.getElementById("filterUI").appendChild(div);
                        document.getElementById(removeID).addEventListener("click", function () {
                            removeFilter(filterID, inputIDs);
                        });

                        var options = [];
                        filterSelection.forEach(function (val, idx) {
                            options.push({id: idx, label: val});
                        });

                        var selectizeInput = $('#' + conditionID).selectize({
                            maxItems: null,
                            valueField: 'id',
                            labelField: 'label',
                            searchField: 'label',
                            options: options,
                            create: false
                        });

                        inputIDs[filterID] = {
                            column: column,
                            type: "selectize",
                            inputs: [conditionID]
                        };
                    });


                }
                if (filterType === "Range Slider") {
                    let dataType = response[column];

                    if (!["int", "bigint", "double", "float"].includes(dataType)) {
                        return;
                    }

                    $.post("sqlGetRange", {
                        id: id, column: column
                    }, function (response, status) {
                        // Ids for dynamically added UI-Elements
                        let conditionID = filterID + "-condition";
                        let removeID = filterID + "-remove";
                        let sliderID = filterID + "-slider";
                        let lowerLimitID = conditionID + "-lower";
                        let upperLimitID = conditionID + "-upper";


                        div.innerHTML = `<label> ${column} </label>
                                  <div style="padding-bottom:5px;padding-left:5px;padding-right:5px;"><div id='${sliderID}'></div></div>
                                  <div class="input-group">
                                    <div class="btn-group" role="group">
                                     <span class="input-group-text">Lower Bound:</span>
                                     <input id='${lowerLimitID}' type="number" class="form-control" placeholder="-&#8734;" aria-describedby="basic-addon2">
                                     <span class="input-group-text">Upper Bound:</span>
                                     <input id='${upperLimitID}' type="number" class="form-control" placeholder="&#8734;" aria-describedby="basic-addon2">
                                    </div>
                                     <button id='${removeID}' class="btn btn-danger" type="button">Remove</button>
                                    </div>
                                    <hr>`;
                        document.getElementById("filterUI").appendChild(div);
                        document.getElementById(removeID).addEventListener("click", function () {
                            removeFilter(filterID, inputIDs);
                        });

                        let min = response[0];
                        let max = response[1];

                        var slider = document.getElementById(sliderID);

                        noUiSlider.create(slider, {
                            start: [min + 0.2 * (max - min), min + 0.8 * (max - min)],
                            connect: true,
                            range: {
                                'min': min,
                                'max': max
                            }
                        });

                        let inputLowerBound = document.getElementById(lowerLimitID);
                        let inputUpperBound = document.getElementById(upperLimitID);

                        //if the slider is updated change the inputs
                        slider.noUiSlider.on('update', function (values, handle) {
                            let value = values[handle];
                            if (handle) {
                                inputUpperBound.value = value;
                            } else {
                                inputLowerBound.value = value;
                            }
                        });

                        inputLowerBound.addEventListener('change', function () {
                            slider.noUiSlider.set([this.value, null]);
                        });

                        inputUpperBound.addEventListener('change', function () {
                            slider.noUiSlider.set([null, this.value]);
                        });

                        inputIDs[filterID] = {
                            column: column,
                            type: "range",
                            inputs: [lowerLimitID, upperLimitID]
                        };
                    });

                }
                if (filterType === "Date Slider") {
                    let dataType = response[column];

                    if (!["string", "date"].includes(dataType)) {
                        return;
                    }


                    $.post("sqlGetDateRange", {
                        id: id, column: column
                    }, function (response, status) {

                        let min = timestamp(response[0]);
                        let max = timestamp(response[1]);
                        // Ids for dynamically added UI-Elements
                        let conditionID = filterID + "-condition";
                        let removeID = filterID + "-remove";
                        let sliderID = filterID + "-slider";
                        let lowerLimitID = conditionID + "-lower";
                        let upperLimitID = conditionID + "-upper";

                        /**
                         *
                         */
                        div.innerHTML = `<label> ${column} </label>
                                  <div style="padding-bottom:5px;padding-left:5px;padding-right:5px;"><div id='${sliderID}'></div></div>
                                  <div class="input-group">
                                    <div class="btn-group" role="group">
                                     <span class="input-group-text">Lower Bound:</span>
                                        <input type='text' class="form-control" id='${lowerLimitID}' />
                                        <span class="input-group-text">Upper Bound:</span>
                                        <input type='text' class="form-control" id='${upperLimitID}' />
                                    </div>
                                     <button id='${removeID}' class="btn btn-danger" type="button">Remove</button>
                                    </div>
                                    <hr>`;

                        document.getElementById("filterUI").appendChild(div);
                        document.getElementById(removeID).addEventListener("click", function () {
                            removeFilter(filterID, inputIDs);
                        });
                        $(function () {
                            $('#' + lowerLimitID).datepicker({
                                format: 'yyyy-mm-dd',
                                startDate: formatDate(min),
                                endDate: formatDate(max)
                            })
                                .on("changeDate", function (e) {
                                    slider.noUiSlider.set([timestamp(e.date), null]);
                                });
                        });
                        $(function () {
                            $('#' + upperLimitID).datepicker({
                                format: 'yyyy-mm-dd',
                                startDate: formatDate(min),
                                endDate: formatDate(max)
                            })
                                .on("changeDate", function (e) {
                                    slider.noUiSlider.set([null, timestamp(e.date)]);
                                });
                        });


                        var slider = document.getElementById(sliderID);

                        noUiSlider.create(slider, {
                            start: [min + 0.2 * (max - min), min + 0.8 * (max - min)],
                            connect: true,
                            range: {
                                'min': min,
                                'max': max
                            }
                        });

                        let inputLowerBound = document.getElementById(lowerLimitID);
                        let inputUpperBound = document.getElementById(upperLimitID);

                        //if the slider is updated change the inputs
                        slider.noUiSlider.on('update', function (values, handle) {
                            let timestamp = parseInt(values[handle]);
                            let date = formatDate(timestamp);
                            if (handle) {
                                inputUpperBound.value = date;
                            } else {
                                inputLowerBound.value = date;
                            }
                        });


                        inputIDs[filterID] = {
                            column: column,
                            type: "rangeDate",
                            inputs: [lowerLimitID, upperLimitID]
                        };
                    });

                }

            }


            function sqlFilterResponse() {

                console.log(inputIDs);

                /**
                 Iterate over all conditions and generate a dictionary that will be send to the server.
                 Each data type creates a different dictionary used for filtering.
                 */
                let conditions = Object.keys(inputIDs).map(function (key, index) {
                        let elem = inputIDs[key];

                        // If the filter was created using the predefined option for string columns
                        if (elem.type === "string") {
                            let inputs = elem["inputs"];
                            let optionsSelection = document.getElementById(inputs[1]);
                            let option = optionsSelection.options[optionsSelection.selectedIndex].value;
                            let condition = document.getElementById(inputs[0]).value;
                            return {column: elem.column, condition: condition, option: option, type: "string"}
                        }

                        // If the filter was created using the predefined option for numerical values
                        if (elem.type === "numerical") {
                            let inputs = elem["inputs"];

                            let lowerBound = document.getElementById(inputs[0]).value;
                            let lowerBoundSelection = document.getElementById(inputs[2]);
                            let lowerBoundType = lowerBoundSelection.options[lowerBoundSelection.selectedIndex].value;

                            let upperBound = document.getElementById(inputs[1]).value;
                            let upperBoundSelection = document.getElementById(inputs[3]);
                            let upperBoundType = upperBoundSelection.options[upperBoundSelection.selectedIndex].value;

                            return {
                                column: elem.column,
                                lowerBoundType: lowerBoundType,
                                upperBoundType: upperBoundType,
                                lowerBound: lowerBound,
                                upperBound: upperBound,
                                type: "numerical"
                            };
                        }

                        if (elem.type === "range") {
                            let inputs = elem["inputs"];

                            let lowerBound = document.getElementById(inputs[0]).value;
                            let upperBound = document.getElementById(inputs[1]).value;

                            return {
                                column: elem.column,
                                lowerBoundType: "[",
                                upperBoundType: "]",
                                lowerBound: lowerBound,
                                upperBound: upperBound,
                                type: "numerical"
                            }

                        }
                        if (elem.type === "rangeDate") {
                            let inputs = elem["inputs"];

                            let lowerBound = document.getElementById(inputs[0]).value;
                            let upperBound = document.getElementById(inputs[1]).value;

                            return {
                                column: elem.column,
                                lowerBound: lowerBound,
                                upperBound: upperBound,
                                type: "rangeDate"
                            }

                        }

                        if (elem.type === "selectize") {
                            let selectedValues = getSelectize("#" + elem['inputs'][0]);
                            console.log(selectedValues);
                            return {
                                column: elem.column,
                                list: selectedValues,
                                type: "selectize"
                            }
                        }

                    }
                );

                console.log(conditions);

                $.post("sqlFilterResponse", {
                    id: id,
                    conditions: JSON.stringify(conditions)
                }, function (response, status) {
                    visualizeResponse(response)
                });

            }

            let filterCount = 0;
            let button = document.getElementById("addFilter");
            button.addEventListener("click", addFilter);

            let submit = document.createElement("input");
            submit.type = "button";
            submit.name = "submit";
            submit.value = "Submit";
            submit.className = "btn btn btn-success";
            submit.style.width = "80px";
            submit.addEventListener("click", sqlFilterResponse);
            document.getElementById('form').appendChild(submit);

        })
    }


</script>


<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

</body>
</html>