<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visual Programming</title>
    <script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css">

</head>

<style>
    #cy {
        width: 90%;
        height: 80%;
        position: absolute;
        top: 100px;
        left: 200px;
        text-color: '#ffffff';

    }

</style>

<body>
<!--
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div> -->


<div class="container" style="margin-left:200px;">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Datenquelle hinzufügen
        </button>
        <div class="dropdown-menu">
            {% for d in data %}
                <a class="dropdown-item" onclick="addDataSource('{{ d }}')"> {{ d }}</a>
            {% endfor %}
        </div>
    </div>
    <div>
        <select id="select-tools" placeholder="Pick a tool..."></select>
    </div>

    <script>
        // <select id="select-tools"></select>
        $('#select-tools').selectize({
            maxItems: null,
            valueField: 'id',
            labelField: 'title',
            searchField: 'title',
            options: [
                {id: 1, title: 'Spectrometer', url: 'http://en.wikipedia.org/wiki/Spectrometers'},
                {id: 2, title: 'Star Chart', url: 'http://en.wikipedia.org/wiki/Star_chart'},
                {id: 3, title: 'Electrical Tape', url: 'http://en.wikipedia.org/wiki/Electrical_tape'}
            ],
            create: false
        });
    </script>
</div>

<div class="sidenav">
    <button class="dropdown-btn">Datenquellen
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        {% for d in data %}
            <a href="#" onclick="addDataSource('{{ d }}')">{{ d }}</a>
        {% endfor %}

    </div>
    <button class="dropdown-btn">SQL
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#" onclick="sqlSelect()">Select </a>
        <a href="#">Where</a>
        <a href="#">Join</a>
    </div>
    <a href="#sql">SQL</a>
    <a href="#contact">Search</a>
</div>

<div class="main">
    <div id="cy"></div>
</div>

<script>

    var nodes = {{ nodes| tojson }};
    console.log(nodes);

    var count = 1;

    var cy = cytoscape({
        container: document.getElementById('cy'),

        style: cytoscape.stylesheet()
            .selector('node')
            .css({
                'label': "data(label)",
                'height': 80,
                'width': 80,
                'border-color': '#000',
                'border-width': 3,
                'border-opacity': 0.5,
                'background-color': '#ffffff',
                'text-color': '#ffffff',
                'text-wrap': 'wrap',
                'text-halign': 'center',
                'text-valign': 'center'
            })
            .selector('edge')
            .css({
                'curve-style': 'bezier',
                'target-arrow-shape': 'triangle',
                'line-color': '#ffaaaa',
                'target-arrow-color': '#ffaaaa'
            }),
        boxSelectionEnabled: true
    });


    nodes.forEach(function (node, index) {
        cy.add([{group: 'nodes', data: node}]);
    });

    var layout = cy.layout({
        name: 'breadthfirst',
        directed: true
    });
    layout.run();


    /*
    cy.on('click', function (evt) {


        //Get mouse-click position
        var x = evt.position.x;
        var y = evt.position.y;
        //get Selected nodes and edges
        var selected = cy.$(':selected').jsons();

        // POST to Flask-Server
        $.post("/get_node_ui", {
            data: JSON.stringify(selected)
        }, function (err, req, resp) {
        });

        var newNodeId = count;
        cy.add([{group: 'nodes', data: {id: newNodeId, label: newNodeId}, position: {x: x, y: y}}]);
        count++;


        selected.forEach(function (element, idx) {
            if (element.group == "nodes") {
                cy.add({group: 'edges', data: {id: count, source: element.data.id, target: newNodeId}})
                count++;

            }
            console.log(element);

        });
    }) */

    /**
     * ########################################################################################################
     *              The following code contains functions used for defining data sources and sinks
     *              and data tranformations
     * ########################################################################################################
     */

    /**
     * This function is triggered by a click on a data source.
     * Given the id of the data source it generates a source for all following
     * operations.
     * @param id The name of Hive table
     */
    function addDataSource(id) {
        $.post("addDataSource", {id: id}, function (val, status) {
            cy.add([{group: 'nodes', data: val}]);
        });
    }

    // ############################################# SQL-Functions ############################################

    /**
     *  This simulates projection. SQL-function: SELECT ... FROM table
     */
    function sqlSelect() {
        let selected = cy.$(':selected').jsons();
        if (selected.length != 1) return;

        let id = selected[0].data.id;
        $.post("sqlSelect", {id: id}, function (response, status) {
            console.log(response);
        });
        console.log(selected);

        new BstrapModal("Custom Titel", "BLABLA").Show();
    }


</script>


<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

</body>
</html>